@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands";

.asgard-icon {
  display: inline-block;
}

.asgard-icon-dotlan{
  background: url("../img/icons/dotlan_logo.png");
  width: 20px;
  height: 20px;
}

.asgard-icon-zkill{
  background: url("../img/icons/zkill_20x20.png");
  width: 20px;
  height: 20px;
}

.asgard-icon-evewho{
  background: url("../img/icons/evewho_20x20.png");
  width: 20px;
  height: 20px;
}