// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/dist/css/bootstrap";

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400');

/*
 * Specific styles of signin component
 */
/*
 * General styles
 */
body, html {
  background-image: url("/img/background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width:100%;
  min-height: 100vh;

  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.card-container {
  margin-top: 50px;
}

.profile-img-card {
  width: 255px;
  height: 255px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.hero {
  font-weight: 100 !important;
  font-size: 5em;
  align-self: center;
  color: #f3f3f3;
  font-family:"Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
  display: flex;
  flex-direction: row;
  margin:0;
  align-items: center;
  justify-content: center;
}

.auth {
  font-weight: 300 !important;
  font-size: 0.4em;
  align-self: flex-end;
  margin: 0;
}

.logo-container {
  padding-top: 100px;
}